// colors

$white: #FFF;
$black: #000;

$background:  #E9C5C7;
$black: #070707;
$gray: #808080;
$red: #C34444;
$br: #494949;

$green: #1ABC9C;
$blue: #2980B9;
$blood-red: #980002;
$cement: #a5a391;
$pencil-blue: #2200ff;
$primary-color: $green;
$secondary-color: $blue;
$primary-text-color: $black;
$secondary-text-color: $green;
// fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: "MyWebFont", sans-serif;
// sizes
$container: 1500px;
$container-laptop: 1000px;
$container-tablet: 750px;
$laptop-max: 1367px;
$tablet-max: 1024px;
$phone-max: 360px;
$phone-small-max: 320px;